Debug/
Release/
Debug Library/
Release Library/
x86/
x64/
*.exe
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
*.vcxproj
bin/msdf-atlas-gen
.vs
bin/*.lib
output.png
out/
build/
/cmake-gen.bat
bin/
bin-int/
